[Unit]
Description=Moodle Bot Daemon

[Service]
Type=simple
WorkingDirectory=/home/alwin/bots/anuwattlebot
ExecStart=/home/alwin/bots/anuwattlebot/moodle_daemon.py
User=alwin

[Install]
WantedBy=multi-user.target
